.modal-content .react-datepicker__day {
    color: var(--color-text);
    transition: background-color 0.2s ease-in-out;
    border-radius: 50%;
}
.modal-content .react-datepicker__day:hover {
    background-color: #f0f0f0;
}

.react-datepicker__day--disabled {
  color: #ced4da !important;
  text-decoration: none;
  pointer-events: none;
}
.react-datepicker__day--disabled:hover {
  background-color: transparent !important;
}

